<div class="contentDiv">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">商品类别： </a>
            </div>
            <div>
                <ul class="nav navbar-nav" >
                    <li th:each="goodsType : ${gtList}">
                        <a href="#" th:onclick="getByType([[${goodsType.id}]])" th:id="'type'+${goodsType.id}" th:text="${goodsType.name}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="goodsTable" th:fragment="goodsTable">
        <legend>
            <strong><p class="text">  商品列表</p></strong>
        </legend>
        <table>
            <thead>
                <tr>
                    <th class="col-md-1" >商品编号</th>
                    <th class="col-md-1" >商品类别</th>
                    <th class="col-md-4" >商品名称</th>
                    <th class="col-md-1" >进货价(元)</th>
                    <th class="col-md-1" >代理价(元)</th>
                    <th class="col-md-1" >市场价(元)</th>
                    <th class="col-md-3" style="text-align: center" >操作</th>
                </tr>
            </thead>
        </table>

        <ul class="list-group">
            <div th:each="goods : ${goodsList}">
                <li class="list-group-item" style="padding: unset">
                    <div class="panel panel-default" style="margin-bottom: 0px">
                        <div class="panel-heading">
                            <table>
                                <tr>
                                    <th class="col-md-1" th:text="${goods.id}"></th>
                                    <td class="col-md-1" th:text="${goods.type}"></td>
                                    <td class="col-md-4" >
                                        <span th:text="${goods.name}"></span>
                                        <span class="badge" >new~</span>
                                    </td>
                                    <td class="col-md-1" th:text="${goods.priceForBuy}"></td>
                                    <td class="col-md-1" th:text="${goods.priceForSell}"></td>
                                    <td class="col-md-1" th:text="${goods.priceForMarket}"></td>
                                    <td class="col-md-3" style="text-align: center">
                                        <button class="btn btn-default btn-sm" data-toggle="collapse" name="myclog" th:href="'#pn'+${goods.id}">+</button>
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-sm" data-toggle="modal" th:href="'#gx'+${goods.id}">更新</button>
                                            <button class="btn btn-danger btn-sm" th:onclick="'javascript:deleteGroup('+${goods.id}+')'">删除</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div th:id="'pn'+${goods.id}" class="panel-collapse collapse">
                            <div class="panel-body" style="padding: 5px">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <blockquote>
                                            <h4 th:text="${goods.description}"></h4>
                                        </blockquote>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <a href="#" class="thumbnail" style="margin-bottom: 0px">
                                            <img th:src="@{'/images/goods/'+${goods.id}+'.jpg'}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>

        <!--<td class="col-lg-2">-->
                            <!--<div class="btn-group">-->
                                <!--<button class="btn btn-primary btn-sm" data-toggle="collapse" href="#collg">展开</button>-->
                                <!--<button class="btn btn-primary btn-sm" data-toggle="modal" th:href="'#gx'+${goods.id}">更新</button>-->
                                <!--<button class="btn btn-danger btn-sm" th:onclick="'javascript:deleteGroup('+${goods.id}+')'">删除</button>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; MODAL &ndash;&gt;-->
                            <!--<div class="modal fade" th:id="'gx'+${goods.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                                <!--<div class="modal-dialog">-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                            <!--<h4 class="modal-title" id="myModalLabel">更新商品信息</h4>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
                                            <!--<table class="table table-hover table-condensed">-->
                                                <!--<legend>-->
                                                    <!--<strong>-->
                                                        <!--<span th:text="'群组ID：'+${goods.id}"></span>-->
                                                    <!--</strong>-->
                                                <!--</legend>-->
                                                <!--<thead>-->
                                                <!--<tr>-->
                                                    <!--<th>群组名</th>-->
                                                    <!--<th>是否我司员工</th>-->
                                                <!--</tr>-->
                                                <!--</thead>-->
                                                <!--<tbody>-->
                                                <!--<tr>-->
                                                    <!--<input type="hidden" th:id="'ug'+${goods.id}" th:value="${goods.id}"/>-->
                                                    <!--<td>-->
                                                        <!--<input type="text" th:id="'ugn'+${goods.id}" th:value="${goods.name}"/>-->
                                                    <!--</td>-->
                                                <!--</tr>-->
                                                <!--</tbody>-->
                                            <!--</table>-->
                                            <!--<div class="modal-footer">-->
                                                <!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>-->
                                                <!--<button type="button" class="btn btn-primary btn-sm" th:onclick="'javascript:updateGroup('+${goods.id}+')'">-->
                                                    <!--提交更改-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
                            <!--</div>-->
                        <!--</td>-->
    </div>
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        function addGroup(){
            // 装载局部刷新返回的页面
            var gName = $("#gname").val();
            var ga = "1";
            var gpm = $("input[name='pmsType']:checked").val();
            //is checked?
            if($("#gagent").is(":checked")){
                ga = "0";
            }

            $.ajax({
                url: "/manager?add",
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({UserGroup: {name: gName, isAgent: ga}, role: gpm}),
                async: false
                // TRUE 异步 FALSE 同步
            });

            $('#grouptb').load("/manager/fresh");
        }

        function deleteGroup(gid){

            $.ajax({
                url: "/manager?delete",
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({id: gid}),
                async: false
                // TRUE 异步 FALSE 同步
            });

            $('#grouptb').load("/manager/fresh");
        }

        function getByType(name){
            $.ajax({
                url: "/goods/list",
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({id: name}),
                async: false
                // TRUE 异步 FALSE 同步
            });

            $('#goodsTable').load("/goods/list");
        }

        $(":input[name='myclog']").click(function(){
            $(this).text(function(i,old){
                return old=='+' ?  '-' : '+';
            });
        });

        $(".nav a").on("click", function(){
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
        /*]]>*/
    </script>
</div>