<div class="contentDiv">
    <table class="table table-hover table-condensed">
        <legend>
            <strong><p class="text">群组列表</p></strong>
        </legend>
        <thead>
            <tr>
                <th>群组编号</th>
                <th>群组名</th>
                <th>群组人数</th>
                <th>是否我司员工</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userGroup : ${groupList}">
                <th scope="row" th:text="${userGroup.id}"></th>
                <td th:text="${userGroup.name}"></td>
                <td th:text="${userGroup.count}"></td>
                <td>
                    <span th:text="${userGroup.isAgent eq '0' ? '是' : '否'}"></span>
                </td>
                <!--<td><a class="btn btn-danger" th:href="@{/users/delete/{userId}(userId=${user.id})}">删除</a></td>-->
            </tr>
        </tbody>
    </table>
    <div><a class="btn btn-primary" href="/manager/add" role="button">添加群组</a></div>
</div>