<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-2.2.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/all.js}"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script>
        function localRefresh(url) {
            // 装载局部刷新返回的页面
            $('#refresh').load(url);
        }
    </script>
    <title>登录页面</title>
</head>
<body>
<div class="top">
    <div class="logo"></div>
    <!-- <div class="m_tit">元数据信息列表 <i class="d_arrow m_l10"></i></div> -->
    <div class="t_aciton">
        <ul>
            <li>
                <a>
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-primary" value="注销"/>
                    </form>
                </a>
            </li>
            <li><a><i class="icon20 ask_icon m_r5"></i>帮助</a></li>
            <li>
                <i class="u_pic m_r10"><img src="images/HNA.jpg"></i>
                <td class="text" th:text="${username}" ></td>
            </li>
        </ul>
    </div>
    <div class="meau_btn icon20" id="meau_btn"></div>
</div>
<div class="m_left" id="m_left">
    <div class="meau" id="meau">
        <ul>
            <li data-tit="1"><a class="on" data-role="root" data-level="1"><em class="m_arrow"></em><i class="icon30 m01"></i>总览</a></li>
            <li data-tit="1">
                <a data-role="root" data-level="1"><em class="m_arrow"></em><i class="icon30 m02"></i>订单管理</a>
                <div class="sub_meau" data-role="tree_action" data-con="1">
                    <dl>
                        <dd><a data-role="root" data-level="2"><em class="s_arrow"></em>全部订单</a></dd>
                        <dd><a data-role="root" data-level="2"><em class="s_arrow"></em>已完成</a></dd>
                        <dd><a data-role="root" data-level="2"><em class="s_arrow"></em>已取消</a></dd>
                    </dl>
                </div>
            </li>
            <li data-tit="1">
                <a data-role="root" data-level="1"><em class="m_arrow"></em><i class="icon30 m03"></i>仓库管理</a>
                <div class="sub_meau" data-role="tree_action" data-con="1">
                    <dl>
                        <dd data-tit="2">
                            <a data-role="root" data-level="2"><em class="s_arrow"></em>出入库记录</a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li data-tit="1">
                <a data-role="root" data-level="1"><em class="m_arrow"></em><i class="icon30 m04"></i>用户管理</a>
                <div class="sub_meau" data-role="tree_action" data-con="1">
                    <dl>
                        <dd>
                            <a data-role="root" data-level="2">
                                <em class="s_arrow"></em>
                                <input type="button" th:onclick="|javascript:localRefresh('/manager')|" value="用户列表" style="background-color: transparent; border: 0;"/>
                            </a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li data-tit="1">
                <a data-role="root" data-level="1"><em class="m_arrow"></em><i class="icon30 m05"></i>系统管理</a>
                <div class="sub_meau" data-role="tree_action" data-con="1">
                    <dl>
                        <dd data-tit="2">
                            <a data-role="root" data-level="2">
                                <em class="s_arrow"></em>
                                系统管理
                            </a>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main sub_main">
    <h4>
        <p class="bg-primary">技术栈：Springboot + hibernate + thymeleaf + bootstrap</p>
    </h4>
    <div id="refresh" th:fragment="refresh">
        <!--content-->
    </div>
</div>

</body>
</html>